@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Y-BAKH";
    src: url("../fonts/Yekan\ Bakh\ FaNum\ 07\ Heavy.ttf") format("truetype");
  }
  @font-face {
    font-family: "B-YEKAN";
    src: url("../fonts/Yekan.ttf") format("truetype");
  }
}
/* header stlye */
@layer base {
  .btn-center {
    @apply text-light-5   font-yekan-Bakh font-thin rounded-xl py-1 my-4 w-full space-x-1 px-3  flex justify-around items-center;
  }
  .menu-item {
    @apply text-light-70 font-yekan-Bakh text-sm font-normal;
  }
  .mobile-icon-btn {
    @apply rounded-2xl w-10 h-10 relative;
  }
}
.sub-bar {
  @apply w-full h-[2px] bg-primary-50 absolute bottom-0;
}
.menu-list li:hover a {
  @apply text-primary-50 transition-all duration-300;
}
.disabled-bar {
  @apply w-0 h-[2px] absolute right-0 bg-primary-50   transition-all   duration-300;
}
.menu-list li:hover .disabled-bar {
  @apply w-full;
}
.mobile-menu-titles {
  @apply text-light-70 text-right font-yekan-Bakh text-sm font-normal;
}
/* haader-style */
#mobile-content-menu {
  display: flex;
  flex-direction: column;
  width: 65%;
  transition: all 0.5s;
  top: 0;
  position: fixed;
  height: 100vh;
  right: -100rem;
 @apply z-40
}
#mobile-content-menu.acitve {
  right: 0rem;
  @apply z-40
}
#mobile-content-menu.acitve.wallet-wrapper{
  z-index: -40;

}
.header-wrapper{
  background: url("../img/business-data-financial-figures-visualiser-graphic\ 1.svg") center center no-repeat;
  background-size: cover;
  @apply bg-primary-80;
z-index: 10 !important;
}